<div id="wrapper">
    <div class="card border-dark mb-6" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">About Me :)</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text">
                Hello! My name is Tahreem. I did Civil Engineering as an undergrad. And my specialization of Structural
                Engineering defined me until after graduation. You see, I loved my specialization but I didn't know that
                it wasn't enough for me. I remember what brought me to Engineering: a love for Math and Sciences. But I
                remember the day I knew I'd made the right choice for myself. I'd walked into a clubs fair in frosh week
                and the sight of robots and airplanes that some of the clubs focused on, had me wonderstruck. I wanted
                to be able to create objects or ideas from my mind just like that. After finding my first ever coding
                course challenging in first year, I thought it wasn't for me perhaps. It wasn't until after graduation
                when a fleeting thought of automating repetitive workflows converted into a series of successful
                curiosity projects that I re-evaluated my direction. I concluded that my passions were structures and
                coding. I noted that making products that saved time and money using those skills was gratifying. A
                similar joy was in creating, for the sake of creating. So here I am, exploring coding in the form of
                full stack web development at the University of Toronto. I also explore C, Python, Machine Learning and
                working with hardware at the University of Tornoto Aerospace Team's Satellite division.
            </p>
        </div>
    </div>
</div>