{{#each project}}
<div class="card border-dark mb-3 project" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text"></p>
        <a href={{this.link}} class="btn btn-primary">Check it out!</a>
    </div>
</div>
{{/each}}